terraform/.terraform/**

#Exclude target directory 
target/

#Exclude IDE Configurations
.idea/
*.iml
*.classpath
*.project
.settings/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db



#Exclude local maven repo
# ~/.m2/repository/

#Exclude build artifacts
*.log
*.tmp


#Exclude docker projects
# *.tar
# docker-compose.override.yml

#Exclude CICD Artifacts
# .github/workflows/

#Exclude TEst Results
# test-results/
# coverage/



